@font-face {
  font-family: 'Brachetto';
  src: url(./Font/Brachetto.ttf)
}
.navbar {
  margin-top: 0;
}
.navbar-brand{
  font-family: 'Brachetto', serif;
  font-size: 27px !important;
  font-weight: bold;
  margin-left: 25px;
  color: white !important;
}
.navbar-nav {
  text-align: right;
  margin-right: 20px;
}
.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9;
  margin: 2;
  color: grey !important;
}

.btn{
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 15px;
  background-color: transparent !important;
  outline-color: blue !important;
}

.bg-img {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-dark {
  background-color: black !important;
  border-radius: 33px !important;
  length: 15px !imporatant;
}

.abt_desc {
  margin-top: 70px;
}

.card {
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
  display: flex !important;
  justify-content: center;
  min-height: 200px;
  width:300px;
}